<!-- <footer class="page-footer bg-secondary text-light">
	<div class="footer-copyright text-center  py-4" style="font-family:'Courier New', Courier, monospace"><b>  E-Auction  </b></div>
</footer> -->

<!-- footer -->
<div class="footer">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container mt20">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>Product Category</h4>
                    <p> Ornaments</p>
                    <p> Paintings</p>
                    <p> Sculptor</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> E-Auction</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact </h4>
                    <ul>
                        <li>Deepak Gupta </li>
                        <li><i class="far fa-envelope"></i> deepak.gupta7@cognizant.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Delhi, India</li>
                        <li><i class="fas fa-map-marker-alt"></i> Cognizant Pvt Ltd</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-copywriter">
        <div class="text-center  bg-white">
            <h2>(©) Copyright 2023 E-Auction. All Rights Reserved.</h2>
        </div>
    </div>
</div>

<!-- <div class="line"></div> -->
<!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i
                            class="fab fa-codepen fa-2x margin"></i></a>
                    <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i
                            class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i
                            class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber"
                        target="_blank"><i class="fab fa-youtube fa-2x margin"></i></a>

                </div>

            </div>
        </div>
    </div> -->





<!-- 
</body> -->