<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt10">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="centered mt10 ml10">
            <img src="../../../assets/logo.png" alt="Login logo" />
          </div>
          <h1 class="mt10 text-center"><u><b> Seller Login  </b></u></h1>

          <form (ngSubmit)="formSubmit()">

            <mat-form-field class="full-width ml10" appearance="outline">
              <mat-label> Email </mat-label>
              <input [(ngModel)]="sellerLoginData.email" name="email" required matInput
                placeholder="Enter email here" />
            </mat-form-field>

            <mat-form-field class="full-width ml10 mt20" appearance="outline">
              <mat-label> Password </mat-label>
              <input [(ngModel)]="sellerLoginData.password" name="password" type="password" required matInput
                placeholder="Enter here" />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" class="mr20 mt10 mb10" mat-raised-button color="primary"
                type="submit">Login</button>
              <!-- <button class="ml20 mt10 mb10" mat-raised-button color="accent">Reset</button> -->
            </div>

          </form>
        </mat-card>
      </div> 
    </div>
  </div>
</div>