<div class="container">
    <h1 class="text-center mt20"><u><b> Product Details </b></u></h1>
    <h2><b>  <img src="../../../assets/drag_click_FILL0_wght400_GRAD0_opsz48.png" alt="img"> <u> Click to bid on specific product. </u></b></h2>
    <table class="table table-hover table table-bordered mt20 text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Category</th>
                <th scope="col">Starting Price</th>
                <th scope="col">Bid End Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ProductItems of ProductArray; let i = index">
                <!-- <th scope="row">1</th> -->
                <td>{{i+1}} </td>
                <td>{{ProductItems.productName}}</td>
                <td>{{ProductItems.category.category}}</td>
                <td>{{ProductItems.startingPrice}}</td>
                <td>{{ProductItems.bidEndDate | date}}</td>
                <td><button class="btn btn-success mr10" (click)="viewProduct(ProductItems.id)">View</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>