<div class="bootstrap wrapper">
    <div class="container">
        <div class="row mt20">
            <div class=" col-md-6 offset-3 text-center">
                <h1> <b> Welcome To E-Auction Site </b></h1>
                <img src="../../../assets/e-auction-home.png" alt="home">
                 <button class="mt20 mr20" routerLink="/seller-login"  mat-raised-button color="primary"> Seller Login</button>
                <!-- <button class="mt20 ml20"  mat-raised-button color="primary"> Buyer Login</button>  -->
            </div>
        </div>
    </div>
</div>